.game {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.gameContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.gameHistory {
    background: none;
    border: none;
    display: block;
    margin: 4px;
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}
